.LeftContainer{
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  background: rgba(32,32,32,1);
  position: relative;
  transition: all 1s;
}
.LeftBar{
  transition: all 0.5s;
  position: absolute;
  overflow: hidden;
  flex: 0 1 auto;
  justify-content: flex-start;
}
  
.LeftBar .LeftBarItem{
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.LeftBar.hide{
  width: 0px;
}
.LeftBar.slowShow{
  transition-delay: 0.5s;
  width: 100%;
}
.LeftBar.fastShow{
  width: 100%;
}

