.topicitem{
    align-items: center;
    transition: all 0.3s;
    border: 5px solid rgba(25,60,82,1);
    background-color: rgba(25,60,82,0.5);
    flex: 0 0 auto;
    width: 15rem;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    font-size: 1rem;
}

.topicitem__image{
    padding: 15px;
    transition: all 0.3s;
    font-size:7rem;
}
.topiccontainer:hover .topicitem{
    background-color: rgba(32, 32, 32, 1);
    border-color: orange;
    cursor: pointer;
    justify-content: initial
}

.topiccontainer{
    height: 30rem;
}
.topiccontainer:hover .topicitem__hovercontent{
    top:45%;
}

.topiccontainer:hover .topicitem__title {
    top: 1rem;
}

.topiccontainer:hover .topicitem__image {
    margin-top: 3rem;
}

.topicitem__hovercontent{
    position: absolute;
    width: 14rem;
    transition: all 0.3s;
    left: 0;
    top: 600px;
}

.topicitem__hovercontent> *{
    position: absolute;
    transition: all 0.3s;
    left: 0px;
    top: 0px;
}

.topicitem__title{
    background-color: rgba(32, 32, 32, 1);
    width: 15rem;
    text-align: center;
    transition: all 0.3s;
    z-index: 1;
    top:25px;
    color: white;
}
.topicitem__hovercontent__content{
    z-index: 2;
    color: white;
    left: 0px;
    top: 0px;
}

.topicitem__hovercontent__img{
    z-index: 1;
    left: 0px;
    top: 0px;
}