.Header{
  flex: 1 0 auto;

}
  
.logobox{
  width: 200px;
  height: 90px;
  flex: 0 0 auto;
  display: flex;
  background: rgba(32,32,32,1);
  position: relative;
  z-index: 1;
}

.logobox > img{
  margin: auto;
  perspective: 1200px;
  transform-style: preserve-3d;

}

.logobox:hover > img{
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
