.LeftBar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 0.1em solid black;
    height: 50%;
    align-items: center;
    width: 10%;
    margin: 0.1em;
  }
    