.LeftBar{
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
    color: #2980B9;
    font-weight: 600;
    justify-content: flex-start
  }
  
.projects, .interests{
  position: absolute;
}

.child.hide{
  opacity: 0;
  transition: all 0s 1s;
}
.child.hideSlow{
  opacity: 1;
  animation-name: hideSlow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 1s;
}
.child.showSlow{
  opacity: 0;
  animation-name: showSlow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 1s;
}

.child.showFast{
  opacity: 1;
  transition: all 1s;
}

.LeftContainer{
  overflow: hidden;
  flex: 0 0 auto;
  width: 290px;
  height: 100%;
  position: absolute;
  background: #202020;
  transition: all 1s;
}

.LeftContainer.hide{
width: 0px;
  
}

.LeftBar.hide{
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.LeftBar.show{
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.LeftBar.hideshowProjects{
  animation-name: hideshowProjects;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.LeftBar.hideshowInterests{
  animation-name: hideshowInterests;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.LeftBar.no-anim{
  animation-name: '';
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes hide {
  from {
    width: 290px;
  }

  to{
    width:0px;
  }
}

@keyframes hideSlow{
  0%,49.9% {
    opacity: 1;
  }

  50%,100%{
    opacity: 0;
  }
}

@keyframes showSlow{
  0%,49.9% {
    opacity: 0;
  }

  50%,100%{
    opacity:1;
  }
}

@keyframes show {
  from {
    width: 0px;
  }

  to{
    width:290px;
  }
}

@keyframes hideshowProjects {
  50% {
    width: 0px;
  }

  0%,100%{
    width:290px;
  }
}

@keyframes hideshowInterests {
  50% {
    width: 0px;
  }

  0%,100%{
    width:290px;
  }
}