.SelectLeftContent{
    font-size: 120pt;
    font-weight: 400;
    position: relative;
    width: 100%;
    justify-content: center;
    margin: 5px;

}

.arrowContainer{
    position: absolute;
    left: 0;
    font-size: 60pt;
    justify-content: flex-start;
}

.arrowContainer > img{
    width: 128px;
    height: 128px;
    position: absolute;
    animation: LinkPointer 1s, Wiggle 1.5s; 
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes LinkPointer{
    0%{
        top: -25px;
        
    }
    100%{
        top: calc(100% - 75px);
    }
}

@keyframes Wiggle{
    from{
        transform: rotateZ(-15deg);
        transform: scaleX(0.75);
    }

    to{
        transform: rotateZ(15deg);
    }
}
