.topnavbar{
  justify-content: center;
  align-items: center;
  height: 1.5em;
  font-size: 4rem;
  letter-spacing: 6px;
  /* border-bottom: 3px outset #2980B9; */
  background: rgba(32,32,32,1);
  position: relative;
  width: 100%;
}

.navgroup{
  justify-content: space-around;
  align-content: center
}

.navgroup__container{
  flex: 0 1 auto;
  display: flex;
  margin: auto;
  justify-content: center;
}

@media only screen and (max-width: 1440px){
  .navgroup__container{
    margin: auto 10px;
    font-size: 2rem;
  }
  .navgroup{
    width: auto;
  }
  .navgroup--right{
    justify-content: flex-start;
  }
  .navgroup--left{
    justify-content: flex-end;
  }
  .topnavbar,.logobox__logo{
    height: 4rem;
  }
}

@media only screen and (max-width: 750px){
  .navgroup__container{
    font-size: 1.5rem;
  }
}

