
.WebsiteMain {
  flex-flow: column;
  height: 100%;
  justify-items: flex-start;
  font-family: 'Montserrat', sans-serif; 
  font-size: 32pt;
}

.Left-Content-Container{
  height: 100%;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.h2{
  font-weight: 800;
  font-size: 34pt;
}

.color-white{
  color: white;
}

.h3{
  margin-top: 200px;
}

.h4{
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 60pt;
}

.sl{
  font-family: 'Sleeve';
}

.ms{
  font-family: 'Montserrat', sans-serif; 
}

.col-center{
  align-items: center;
}

.row-center{
  justify-content: center;
}

.row{
  width: 100%;
}

.flex-start{
  align-items: flex-start;
}