.contactform{
    height: 100%;
    color: #2980B9;
    flex: 0 0 auto;
    padding: 15px;
    align-content: flex-start;
    font-size: 16pt;
    transition: all 0.3s;
}
.contactform__typed{
    margin: 10px 10px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}

.contactform__contact{
        margin: 10px 10px;
        background-color: white;
        border: 2px solid black;
        position: relative; 
}


.contactform .hotlinks{
    white-space: pre;
}

.contactform__name-input,.contactform__email-input,.contactform__message-input{
    background: white;
    border: 1px solid black;
    
    position: relative;
}
.contactform .row.input::before{
    opacity: 0.5;
    width: 1px;
    height: 30px ;
    content: ''; 
    flex: 0 1 auto;
    background: #2980B9;
    position: absolute;
    left: 42px;
    top: 6px;
    padding-right: 1px; 
}

.input--red{
    border: 1px solid red;
}
.div--disabled{
    pointer-events: none;
    opacity: 0.4;
}
.contactform img{
    height: 30px;
    padding: 5px;
}
.input~.input{
    margin-top: 0.5em;
}
.contactform .text-input{
    font-size: 12pt;
    line-height: 30px;
}

.contactform  .row > input{
    height: 30px;
    margin: auto 10px;
    width: 100%;
    border: 0; 
}

.contactform  input:focus,.contactform  textarea:focus{
    outline: none;
}

.contactform__message-input textarea{
    margin: auto 10px;
    height: 150px;
    width: 100%;
    border: 0;
    position: relative;
    resize: none;
}

.contactform__header{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 10em;
}

.email_confirmation{
    font-size: 10em;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.contactform__dynamic-row{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 3em;
    font-weight: 800;
    color: white;
    
}

.contactform a{
    font-size: 2em;
}

.disabled-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.7);
}

@media only screen and (max-width: 1440px){
    .contactform{
        font-size: 12pt;
    }
}

@media only screen and (max-width: 750px){
    .contactform{
        font-size: 8pt;
    }
}