.contactform{
    height: 100%;
    color: #2980B9;
    flex: 0 0 auto;
    padding: 15px;
    align-content: flex-start;
    font-size: 16pt;
    transition: all 0.3s;
}
.contactform__typed{
    margin: 10px 10px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}

.contactform__contact{
        margin: 10px 10px;
        background-color: white;
        border: 2px solid black;
        position: relative; 
}


.contactform .hotlinks{
    white-space: pre;
}

.contactform .row.input::before{
    opacity: 0.5;
    width: 1px;
    height: 30px ;
    content: ''; 
    flex: 0 1 auto;
    background: #2980B9;
    position: absolute;
    left: 42px;
    top: 6px;
    padding-right: 1px; 
}

.contactform img{
    height: 30px;
    padding: 5px;
}

.contactform .text-input{
    font-size: 12pt;
    line-height: 30px;
}

.contactform > .row > input{
    height: 30px;
    width: 500px;
    margin: auto 10px;
    border: 0; 
}

.contactform  input:focus,.ContactForm  textarea:focus{
    outline: none;
}

.contactform textarea{
    margin: auto 10px;
    width: 500px;
    height: 150px;
    border: 0;
}

.contactform label{
    width: 150px;
    text-align: right;
}

.contactform .row.form-header{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 10em;
}

.contactform .dynamic-row{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 3em;
    font-weight: 800;
    color: white;
    
}

.contactform a{
    font-size: 2em;
}

.contactform .form-header > p{
    margin: 15px auto;
}

@media only screen and (max-width: 1440px){
    .contactform{
        font-size: 12pt;
    }
}

@media only screen and (max-width: 750px){
    .contactform{
        font-size: 8pt;
    }
}