.InterestCard{
    width: 65%;
    color: #2980B9;
}

.InterestCard img{
    float: left;
    width: 600px;
    height: 400px;
    /* padding-right: 5px; */
    /* padding-bottom: 5px;
    border-right: 2px solid #2980B9;
    border-bottom: 2px solid #2980B9; */
}
