  
.header{
  flex: none;
}

.logobox{
  width: 200px;
  flex: none;
  background: rgba(32,32,32,1);
  z-index: 1;
  transition: all 0.3s;
}

.logobox__logo{
  margin: auto;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.logobox:hover .logobox__logo{
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@media only screen and (max-width: 1440px){
  .logobox{
    width: 150px;
  }
}

@media only screen and (max-width: 750px){
  .logobox{
    width: 100px;
  }
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
